<!-- <p>signal-in-depth works!</p> -->
<div class="row p-5">
    <div class="col-lg-6">
        <h2>{{cityList()}}</h2>
        <h3>{{studObj() |json}}</h3>
        <input #focusCity class="form-control" type="text" name="" id="" [(ngModel)]="cityName">
        <button class="btn btn-success btn-sm" (click)="addCity()">Add City</button>
    </div>
    <div class="col-lg-6">
        <h4>{{empObj()|json}}</h4>
        <div class="row">
            <div class="col-lg-4">
                <input type="text" (input)="changeFormValue('empId',$event)" name="" id="" placeholder="EmpId">
            </div>
            <div class="col-lg-4">
                <input type="text" (input)="changeFormValue('name',$event)" name="" id="" placeholder="EmpId">
            </div>
            <div class="col-lg-4">
                <input type="text" (input)="changeFormValue('city',$event)" name="" id="" placeholder="EmpId">
            </div>
            <div class="col-lg-4">
                <input type="text" (input)="changeFormValue('pincode',$event)" name="" id="" placeholder="EmpId">
            </div>
        </div>
    </div>


</div>
<div class="row">
    @if(showAlert())
    {
    <app-temp-error [showError]="false" [alertMessage]="'Signal In Depth Learning'"
        (closeAlert)="showAlert.set(false)"></app-temp-error>
    }
</div>
<div class="row p-5">
    <div class="col-lg-6">
        <div class="row">
            <div class="col-lg-4">
                <input (input)="updateFName($event)" type="text" name="" id="" placeholder="First Name">
            </div>
            <div class="col-lg-4">
                <input (input)="updateMName($event)" type="text" name="" id="" placeholder="Middle Name">
            </div>
            <div class="col-lg-4">
                <input (input)="updateLName($event)" type="text" name="" id="" placeholder="Last Name">
            </div>
        </div>
        <div class="row m-3">
            <div>
                <input class="form-control" [value]="fullName()" type="text" name="" id="" placeholder="First Name">

            </div>
        </div>
    </div>
</div>