.container
{
    /* height: 500px;
    display: flex;
    justify-content: center;
    align-items: center; */
    height: 500px;
}

.inner{
    width: 1200px;
    /* height: 600px; */
}
h2{
    text-align: center;
    padding: 10px;
    margin: 10px;
}