<nav class="navbar navbar-expand-lg navbar-dark custom-navbar">
  <div class="container-fluid">

    <a class="navbar-brand fw-bold" routerLink="/">MyCompany</a>

    <!-- Toggle -->
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" routerLink="/user">Home</a>
        </li>

        <!-- Dropdown -->
        <li class="nav-item" ngbDropdown>
          <a class="nav-link d-flex align-items-center" ngbDropdownToggle>
            Services
            <i class="bi bi-caret-down-fill ms-1"></i>
          </a>

          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-dark">
            <li>
              <a ngbDropdownItem routerLink="/user">User</a>
            </li>
            <li>
              <a ngbDropdownItem routerLink="/employee">Employee</a>
            </li>
              <li>
              <a ngbDropdownItem routerLink="/crud">Json-Server</a>
            </li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/reactive">Reactive</a>
        </li>
        <li class="nav-item" ngbDropdown>
          <a class="nav-link d-flex align-items-center" ngbDropdownToggle>
            RxJs
            <i class="bi bi-caret-down-fill ms-1"></i>
          </a>

          <ul ngbDropdownMenu class="dropdown-menu dropdown-menu-dark">
            <li>
              <a ngbDropdownItem routerLink="/rxjs">Basic</a>
            </li>
            <li>
              <a ngbDropdownItem routerLink="/rxjs-operators">Operators</a>
            </li>
              <li>
              <a ngbDropdownItem routerLink="/sub-beh-replay">Sub-Beh-Replay</a>
            </li>
              <li>
              <a ngbDropdownItem routerLink="/advance-rxjs">Advance Operators</a>
            </li>
            <li>
              <a ngbDropdownItem routerLink="/rxjs-crud">RxJS CRUD</a>
            </li>
          </ul>
        </li>
         <li class="nav-item">
          <a class="nav-link" routerLink="/user">Home</a>
        </li>
        <li>
          <select class="form-select"  name="Role" (change)="onRoleChange($event)">
            <option value="Admin">Admin</option>
            <option value="User">User</option>
          </select>
        </li>

      </ul>
    </div>
  </div>
</nav>
