<div class="container">
  <div class=" d-flex justify-content-end align-items-center  border-bottom-0 mt-2">
    <button class="btn btn-primary add-user-btn" (click)="openAddUser()">
      <i class="bi bi-person-plus me-1"></i> Add User
    </button>
  </div>
  <div class="table-responsive rounded-3 shadow-sm mt-4">
    <table class="table custom-table mb-0">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>State</th>
          <th>Pincode</th>
          <th>Address</th>
          <!-- <th>Status</th> -->
          <th class="text-center">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for(user of users;track $index)
        {
 <tr>
          <td>{{ $index + 1 }}</td>
          <td>{{ user.name }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.city }}</td>
          <td>{{ user.state }}</td>
          <td>{{ user.pincode }}</td>
          <td>{{ user.address }}</td>
          <!-- <td>
            <span class="badge" [ngClass]="{
              'bg-success': user.status === 'active',
              'bg-secondary': user.status === 'inactive'
            }">
              {{ user.status }}
            </span>
          </td> -->
          <td class="text-center">
            <div class="d-flex justify-content-center gap-2 flex-nowrap">
              <button class="btn btn-sm btn-outline-primary"><i class="bi bi-pencil"></i></button>
              <button class="btn btn-sm btn-outline-danger"><i class="bi bi-trash"></i></button>
              <button class="btn btn-sm btn-outline-secondary"><i class="bi bi-eye"></i></button>
            </div>
          </td>
        </tr>
        }
       
      </tbody>
    </table>
  </div>
  <!-- Button trigger modal -->


  <!-- Modal -->
  <div class="modal" id="userModal" #userModal>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Add User</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-6">
              <label for="">Name</label>
              <input type="text" name="" id="" class="form-control" placeholder="name" [(ngModel)]="user.name">
            </div>
            <div class="col-lg-6">
              <label for="">Email</label>
              <input type="text" name="" id="" class="form-control" placeholder="Email" [(ngModel)]="user.email">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="">City</label>
              <input type="text" name="" id="" class="form-control" placeholder="City" [(ngModel)]="user.city">
            </div>
            <div class="col-lg-6">
              <label for="">State</label>
              <input type="text" name="" id="" class="form-control" placeholder="State" [(ngModel)]="user.state">
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <label for="">Pincode</label>
              <input type="text" name="" id="" class="form-control" placeholder="pincode" [(ngModel)]="user.pincode">
            </div>

          </div>
          <div class="row">
            <!-- <div class="col-lg-12"> -->
              <label for="">Address</label>
              <textarea name="address" id="" [(ngModel)]="user.address"></textarea>
            <!-- </div> -->

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" (click)="onSubmit()">Submit</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>